{% extends "base.html" %}
{% block head %}
{{super()}}
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
	<script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>
	<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
	<script src="https://img.hcharts.cn/highcharts/themes/dark-unica.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'container',
            type: 'spline'
        },
        plotOptions: {
		  spline: {           // 针对 spline 有效的配置
			lineWidth: 1
		   }
		},
        title: {
     			  text: 'okcoin & bitmex 实时价差',
        		x: -20
    		},
    	tooltip: {
    		style: {                      // 文字内容相关样式
				fontSize: "12px",
			}
    	},
        series: [{}]
    };
	var chart;
    $.getJSON("/recent10m/",  function(data) {
        options.series[0].name = '10分钟实时差价';
        options.series[0].data = data;
        //console.info(data);
        chart = new Highcharts.Chart(options);
        //console.info(data);
    	});


    function refresh() {
    	$.getJSON("/recent10m/",  function(data) {
        chart.series[0].setData(data,true);
    	});
    }

    setInterval(refresh,3000);



    var options2 = {
        chart: {
            renderTo: 'container2',
            type: 'spline'
        },
        plotOptions: {
		  spline: {           // 针对 spline 有效的配置
			lineWidth: 1
		   }
		},
        title: {
     			  text: 'okcoin & bitmex 实时价差',
        		x: -20
    		},
        series: [{}]
    };
	$.getJSON("/recent1h/",  function(data) {
		options2.series[0].name = '1小时实时差价';
		options2.series[0].data = data;
		new Highcharts.Chart(options2);
	});

	var options3 = {
        chart: {
            renderTo: 'container3',
            type: 'spline'
        },
        plotOptions: {
		  spline: {           // 针对 spline 有效的配置
			lineWidth: 1
		   }
		},
        title: {
     			  text: 'okcoin & bitmex 实时价差',
        		x: -20
    		},
        series: [{}]
    };
	$.getJSON("/recent4h/",  function(data) {
		options3.series[0].name = '4小时实时差价';
		options3.series[0].data = data;
		new Highcharts.Chart(options3);
	});

	var options4 = {
        chart: {
            renderTo: 'container4',
            type: 'spline'
        },
        plotOptions: {
		  spline: {           // 针对 spline 有效的配置
			lineWidth: 1
		   }
		},
        title: {
     			  text: 'okcoin & bitmex 实时价差',
        		x: -20
    		},
        series: [{}]
    };
	$.getJSON("/recent7d/",  function(data) {
		options4.series[0].name = '7天实时差价';
		options4.series[0].data = data;
		new Highcharts.Chart(options4);
	});

	var options5 = {
        chart: {
            renderTo: 'container5',
            type: 'spline'
        },
        plotOptions: {
		  spline: {           // 针对 spline 有效的配置
			lineWidth: 1
		   }
		},
        title: {
     			  text: 'okcoin & bitmex 实时价差',
        		x: -20
    		},
        series: [{}]
    };
	$.getJSON("/recent3d/",  function(data) {
		options5.series[0].name = '3天实时差价';
		options5.series[0].data = data;
		new Highcharts.Chart(options5);
	});



});
</script>
{% endblock %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">okcoin - mex  diff</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="list-group">
                                <div class="form-group">
                                    <div id="container" style="min-width:300px;height:400px"></div>
                                </div>
                                <div class="form-group">
                                    <div id="container2" style="min-width:300px;height:400px"></div>
                                </div>
                                <div class="form-group">
                                    <div id="container3" style="min-width:300px;height:400px"></div>
                                </div>
                                <div class="form-group">
                                    <div id="container5" style="min-width:300px;height:400px"></div>
                                </div>
                                <div class="form-group">
                                    <div id="container4" style="min-width:300px;height:400px"></div>
                                </div>
                            </div>
                            <!-- /.list-group -->
                        </div>
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel .chat-panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
{% endblock %}