{% extends "base.html" %}
{% block head %}
{{super()}}
<style type="text/css">
    .errors{
        color:red
    }
</style>
{% endblock %}
{% block content %}
<div id="page-wrapper" style="min-height: 309px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">运行参数设置</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ok_lower 设置
                        </div>
                        {% macro render_field(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" method="POST">
                                        {{ form.csrf_token }}
                                        {{ render_field(form.csrf_token) }}
                                        <div class="form-group">
                                            <label>lower_max_size</label>
                                            {{ form.lower_max_size(class='form-control')}}
                                            {{ render_field(form.lower_max_size) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_deal_amount</label>
                                            {{ form.lower_deal_amount(class='form-control')}}
                                            {{ render_field(form.lower_deal_amount) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_expected_profit</label>
                                            {{ form.lower_expected_profit(class='form-control')}}
                                            {{ render_field(form.lower_expected_profit) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_back_distant</label>
                                            {{ form.lower_back_distant(class='form-control')}}
                                            {{ render_field(form.lower_back_distant) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_basis_create</label>
                                            {{ form.lower_basis_create(class='form-control')}}
                                            {{ render_field(form.lower_basis_create) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_step_price</label>
                                            {{ form.lower_step_price(class='form-control')}}
                                            {{ render_field(form.lower_step_price) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_split_position</label>
                                            {{ form.lower_split_position(class='form-control',rows='6')}}
                                            {{ render_field(form.lower_split_position) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_contract_type</label>
                                            {{ form.lower_contract_type(class='form-control')}}
                                            {{ render_field(form.lower_contract_type) }}
                                        </div>
                                        <div class="form-group">
                                            <label>lower_mex_contract_type</label>
                                            {{ form.lower_mex_contract_type(class='form-control')}}
                                            {{ render_field(form.lower_mex_contract_type) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_max_size</label>
                                            {{ form.higher_max_size(class='form-control')}}
                                            {{ render_field(form.higher_max_size) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_deal_amount</label>
                                            {{ form.higher_deal_amount(class='form-control')}}
                                            {{ render_field(form.higher_deal_amount) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_expected_profit</label>
                                            {{ form.higher_expected_profit(class='form-control')}}
                                            {{ render_field(form.higher_expected_profit) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_back_distant</label>
                                            {{ form.higher_back_distant(class='form-control')}}
                                            {{ render_field(form.higher_back_distant) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_basis_create</label>
                                            {{ form.higher_basis_create(class='form-control')}}
                                            {{ render_field(form.higher_basis_create) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_step_price</label>
                                            {{ form.higher_step_price(class='form-control')}}
                                            {{ render_field(form.higher_contract_type) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_split_position</label>
                                            {{ form.higher_split_position(class='form-control',rows='6')}}
                                            {{ render_field(form.higher_split_position) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_contract_type</label>
                                            {{ form.higher_contract_type(class='form-control')}}
                                            {{ render_field(form.higher_contract_type) }}
                                        </div>
                                        <div class="form-group">
                                            <label>higher_mex_contract_type</label>
                                            {{ form.higher_mex_contract_type(class='form-control')}}
                                            {{ render_field(form.higher_mex_contract_type) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.submit}}
                                            {{ render_field(form.submit) }}
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
{% endblock %}