{% extends "base.html" %}
{% block head %}
{{super()}}
<style type="text/css">
    .smaller{
        padding:1px
    }
    .smaller td{
        padding:3px !important;
    }
    .even{
        color:green;
    }
    .odd{
        color:red;
    }



</style>
<script type="text/javascript">
</script>
{% endblock %}
{% block content %}
<div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 运行状况
                        </div>
                        <!-- /.panel-heading -->
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="list-group">
                                <div class="form-group">
                                    <p>Higher open orders {{openorders}}</p>
                                </div>
                            </div>
                        </div>
                        <form role="form" action="/strategy" method="POST">
                        <div class="col-lg-6">
                            <div class="list-group">
                                <div class="form-group">
                                    <div>Higher 上界<input class="form-control" name="edgeup" value="{{strategyh}}" type="number"></div>
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="list-group">
                                <div class="form-group">
                                    <div>Lower 下界<input class="form-control" name="edgedown" value="{{strategyl}}" type="number"></div>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-12">
                            <div class="list-group">
                                <div class="form-group">
                                    <div><input id="submit" name="submit" value="submit" type="submit"></div>
                                </div>
                            </div>
                        </div>
                        </form>
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel .chat-panel -->
                </div>
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div>
{% endblock %}